body {
  font-family: "Red Hat Display", sans-serif;
  background-color: #dab06c;
}

.btn-submit {
  width: 150px;
  height: 44px;
  color: #ffff;
  filter: drop-shadow(0px 100px 80px rgba(147, 120, 255, 0.07)) drop-shadow(0px 41.7776px 33.4221px rgba(147, 120, 255, 0.0503198)) drop-shadow(0px 22.3363px 17.869px rgba(147, 120, 255, 0.0417275)) drop-shadow(0px 12.5216px 10.0172px rgba(147, 120, 255, 0.035)) drop-shadow(0px 6.6501px 5.32008px rgba(147, 120, 255, 0.0282725)) drop-shadow(0px 2.76726px 2.21381px rgba(147, 120, 255, 0.0196802));
  background: #dab06c;
  border-radius: 8px;
  border: none;
  font-family: "Public Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  /* position: absolute;
top: 63.39%;
bottom: 30.78%; */
  margin-top: 40px;
}

.btn-submit:hover {
  background-color: white;
  transition: none;
  color: #dab06c;
  border: 1px solid #dab06c;
}

.header {
  color: #dab06c
}

.body {
  text-align: center;
}

.body h6:first-child {
  font-weight: bold;
}

.body h6:nth-child(2) {
  font-weight: bold;
  color: #9E9E9E
}

.monthly_7,
.monthly_6,
.monthly_5,
.monthly_4,
.monthly_3,
.monthly_2,
.package_5,
.package_10,
.package_15,
.package_20 {
  border: none;
  background-color: #dab06c;
  color: white;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50px;
  font-weight: bold;
}

.selected {
  background-color: #EFEFEF;
  color: #9E9E9E
}

.second {
  margin-top: 30px
}

.first,
.second {
  width: 150px;
}

.Card {
  width: 300px;
  height: 308px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.container {
  height: 100vh;
}

.counts {
  height: 93px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.omeTime {
  font-weight: bold;
  text-align: center;
}
.Card {
  padding:10px 0px;
  border:1px solid #EFEFEF;
  border-radius: 8px;
  margin:0 15px
}
.cardContainer  {
  background-color: white;
  border: 1px solid #EFEFEF;
  border-radius: 10px;
  height: 500px;
  padding: 0 10px;
}
@media(max-width:768px) {
  .Card {
    width: 250px;
  }
  .header h1 {
    font-size: 25px;
  }
}
@media(max-width:767px) {
  .hide {
    display: none !important;
  }
  .hideCarousel {
    display: flex;
    align-items: center;
    width: 291px;
    height: 400px;
  }
}
@media(min-width:769px) {
  .hideCarousel {
    display: none !important;
  }
}