body {
  font-family: "Red Hat Display", sans-serif;
}

.formContainer {

  margin-top: 50px;
}

.mb-30 {
  margin-bottom: 23px;
}

.container__left {
  width: 37%;
}

.container__left img {
  width: 100%;
  height: 400px;
}

.container__right {
  width: 53%
}

.w-500 {
  width: 500px
}



.active {
  width: 44px;
  height: 44px;
  background: linear-gradient(180deg, #CF9D6F 0%, #EACD66 100%);
  border-radius: 22px;
}

.line {
  width: 90px;
  height: 2px;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
}

.checked {
  color: white;
  font-size: 22px;
}

.checkedSpan {
  color: rgba(31, 32, 65, 0.5)
}

.circle {
  width: 44px;
  height: 44px;

  background: #FFFFFF;
  border: 2px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 22px;
}

.line2 {
  width: 90px;
  height: 2px;
  left: 210.26px;
  top: 47.44px;

  background: #C4C4C4;
}

.number {
  font-weight: bold;

}

.mb-16 {
  margin-bottom: 16px;
}

.newCar {
  margin-top: 40px;
}

.newCar h4 {
  font-weight: bold;
}

.newCar p {
  color: #AFAFBD;
  text-align: center;
}

.container {
  margin-top: 40px
}
#add_car,#add_location {
  margin-bottom: 20px;
  text-decoration: none;
  font-size: 82px !important;
  color: #DAB06C;
}
.addCircle {
  width: 120px;
  height: 120px;
  background: #FFD797;
  mix-blend-mode: normal;
  border-radius: 90%;
  display: inline-block;
}
.addCircle:hover {
  background-color:#ffcf83
  ;
}

@media(max-width:767px) {
  .container__left {
    display: none !important
  }

  .container__right {
    width: 100%;
  }


  .w-500 {
    width: 100%
  }


  .formContainer {
    margin-top: 0px;
  }



  .mb-30 {
    margin-bottom: 15px;
  }

  .newCar {
    margin-top:17px
  }
  .newCar p {
    margin-bottom: 0px;
  }

  /* html {
    height: 100vh;
  }

  body {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .wave:nth-child(2) {
    position: relative;
    bottom: 0px;
  } */


  .formContainer {
    margin-top: 30px;
  }
}

@media(max-width:370px) {

  .line,
  .line2 {
    width: 70px
  }


  /* body {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  } */

  /* .wave:nth-child(2) {
    position: relative;
    bottom: 0px;
  } */

}

@media(min-width:768px) {
  .wave {
    display: none;
  }
}